<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDV4WvE8iZJiEHLFXVCOsV3dglUA11IjL4</string>
	<key>GCM_SENDER_ID</key>
	<string>938455911566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.q</string>
	<key>PROJECT_ID</key>
	<string>qsocialmedia-b446b</string>
	<key>STORAGE_BUCKET</key>
	<string>qsocialmedia-b446b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938455911566:ios:ec6a772b562631b00d8ddf</string>
</dict>
</plist>